@keyframes enter {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

:root {
  --primary-color: #f9f9f9;
  --background-color: #0a0b11;
}

a,
body {
  color: var(--primary-color);
}

body {
  margin: 0;
  text-align: center;
  background-color: var(--background-color);
  min-height: 100vh;
  overflow: hidden;
  font-size: 16px;
}

h1.title {
  font-size: 30px;
  font-weight: 400;
}

.icons {
  margin: 0 10px;
  transition: transform 0.2s ease-out;
}

.icons:hover {
  transform: scale(1.1);
}

.status,
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.status {
  font-size: 20px;
  font-weight: 400;
}

#statusText {
  margin: 0 10px;
}

a {
  text-decoration: underline;
}

a:focus,
a:hover {
  text-decoration-style: wavy;
  text-decoration-skip-ink: none;
}
